{% extends "notes/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register Today</legend>
            <div class="form-group">
                Student? <small class="text-muted">
                    Register Here 
                    <div>
                        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'registerStudent'%}">Student SignUp</a></button>
                    </div>
                </small>
            </div>
            <br>
            <div class="form-group">
                Lecturer? <small class="text-muted">
                    Register Here
                    <div>
                        <button class="btn btn-outline-info" type="submit"><a class="ml-2" href="{% url 'registerTeacher'%}"> Lecturer SignUp</a></button>
                    </div>
                </small>
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}